In [39]:
import pandas as pd

video = "Resources/purchase_data.csv"
video_game = pd.read_csv(video)
video_game.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
video_game.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [41]:
video_game["Item ID"].unique()

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 141, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 101, 109,  10,
        54,  99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,
        58,  74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,
         3,  65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,
        77,  11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97,
       163, 107,  16,  42,  19,  83,  23,  28,  94, 182,  70,  18, 166,
       173, 167, 155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,
        67,  45,  49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,
        61,  48, 112, 126, 115,  55, 132, 127,  47, 130,  90, 177, 104,
       180], dtype=int64)

In [42]:
video_game["Price"].mean()

3.050987179487176

In [43]:
video_game["Purchase ID"].count()

780

In [44]:
video_game["Price"].sum()

2379.77

In [47]:
total = video_game["Item ID"].count()
m_player = video_game.loc[video_game["Gender"] == "Male"]
male = m_player["Gender"].count()
print("percentage of male players", (male/total) * 100, "%")
f_player = video_game.loc[video_game["Gender"] == "Female"]
female = f_player["Gender"].count()
print("percentage of female players", (female/total)*100,"%")
d_player = video_game.loc[(video_game["Gender"] != "Male") & (video_game["Gender"] != "Female")]
d = d_player["Gender"].count()
print("percentage of different", (d/total)*100)

percentage of male players 83.58974358974359 %
percentage of female players 14.487179487179489 %
percentage of different 1.9230769230769231

In [55]:
print(m_player.count())
print("femeil")
print(f_player.count())
print("different players")
print(d_player.count())
print("average male ", m_player["Price"].mean())
print("avereage femail ", f_player["Price"].mean())
print("average different", d_player["Price"].mean())
print("average male ", m_player["Price"].sum())
print("avereage femail ", f_player["Price"].sum())
print("average different", d_player["Price"].sum())

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64
femeil
Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64
different players
Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64
average male  3.0178527607361953
avereage femail  3.203008849557519
average different 3.3460000000000005
average male  1967.64
avereage femail  361.94
average different 50.19